<div class="container main-container">
    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
    
    <h1>Editar Fornecedor</h1>
    <hr>
    <form novalidate="novalidate" (ngSubmit)="editarFornecedor()" [formGroup]="fornecedorForm">

        <div class="alert alert-danger" *ngIf="errors.length > 0">
            <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
            <ul>
                <li *ngFor="let error of errors">{{ error }}</li>
            </ul>
        </div>

        <input type="hidden" id="id" name="id" value="">
        <input type="hidden" id="enderecoId" name="enderecoId" value="">

        <div class="form-row">
            <div class="form-group col-md-6">

                <div>
                    <label class="control-label">Nome</label>
                    <div>
                        <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)"
                            formControlName="nome" [ngClass]="{'is-invalid': displayMessage.nome }" />
                        <span class="text-danger" *ngIf="displayMessage.nome">
                            <p [innerHTML]="displayMessage.nome"></p>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Documento</label>
                    <div>
                        <input class="form-control" id="documento" type="text" placeholder="{{this.textoDocumento}}"
                            formControlName="documento"
                            [textMask]="this.tipoFornecedorForm().value === '1' ? {mask: mask.cpf.textMask} : {mask: mask.cnpj.textMask}"
                            [ngClass]="{'is-invalid': displayMessage.documento }" />

                        <span class="text-danger" *ngIf="displayMessage.documento">
                            <p [innerHTML]="displayMessage.documento"></p>
                        </span>
                    </div>
                </div>

            </div>

            <div class="form-group col-md-6">
                <div>
                    <label class="control-label" for="TipoFornecedor">Tipo</label><br>
                    <input type="radio" value="1" id="tipoFornecedor" formControlName="tipoFornecedor"
                        name="tipoFornecedor"> Pessoa Física<br>
                    <input type="radio" value="2" id="tipoFornecedor" formControlName="tipoFornecedor"
                        name="tipoFornecedor"> Pessoa Jurídica
                </div>
                <div>
                    &nbsp;
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" id="ativo" formControlName="ativo" name="ativo"
                            value="true"> Ativo?
                    </label>
                </div>
            </div>
        </div>


        <div class="form-group">
            <input type="submit" value="Editar" class="btn btn-primary">&nbsp;
            <a class="btn btn-info" [routerLink]="['/fornecedores/listar-todos']">Voltar</a>
        </div>

        <div>

            <div style="padding-top: 20px" *ngIf="fornecedor.endereco !== null">
                <div>
                    <hr>
                    <h4>Endereço</h4>
                </div>

                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                Logradouro
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                {{ fornecedor.endereco.descricao }}
                            </td>
                            <td>
                                <a class="btn btn-info" href="javascript:void(0)" (click)="abrirModal(content)">
                                    <span title="Editar" class="fa fa-pencil-alt"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>

    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Atualizar endereço</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            Info
        </div>

        <div class="modal-footer">
            <input type="submit" value="Atualizar" class="btn btn-primary">
        </div>

    </ng-template>

</div>